<h2>新着イベント一覧</h2>
<% @feeds.each do |event| %>
  <a href="<%= event.link %>" target="_blank" class="article_link">
    <article>
        <%= image_tag(event.image) %>
      <div class="article_top">
        <p class="article_start"><%= event.start_day %></p>
        <h1 class="article_title"><%= event.title %></p>
      </div>
      <table>
        <tr><th>会場：</th><td><%= event.place %></td></tr>
        <tr><th>住所：</th><td><%= event.address %></td></tr>
      </table>
    </article>
  </a>
<% end %>
