<h2>イベントを登録する</h2>
<div class="container">
  <div class="form-box">
    <%= form_tag('/feeds') do %>
      <div class="form-group">
        <p class="control-label">イベントURL</p>
        <%= text_field_tag :link, nil, placeholder: "URLを入力して下さい", class: "form-control" %>
      </div>
      <div class="form-group">
        <p class="control-label">イベント取得先</p>
        <%= label_tag 'type[0]', "dots", class: "radio-inline" %>
        <%= radio_button_tag :type, 0, false, class: "radio-inline" %>
        <%= label_tag 'type[1]', "connpass", class: "radio-inline" %>
        <%= radio_button_tag :type, 1, false, class: "radio-inline" %>
      </div>
      <%= submit_tag  "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
  <h3>イベントの登録の仕方</h3>
  <p class="how_to">
  登録可能なイベントは下記のサイトの2つのwebサイトに掲載されたイベントです。<br>
  <a href="http://eventdots.jp/">dots -IT勉強会・セミナーなどエンジニアのためのイベント情報検索サービス-</a>
  <a href="connpass.com">connpass -人をつなくITイベント・勉強会支援サイト-</a><br>
  上記のサイト内の登録イベント個別ページのURLを入力してイベントを登録して下さい。<br>
  <span>例:http://eventdots.jp/event/544731</span><br>
  <span>例:http://connpass.com/event/17429/</span><br>
  なお、どちらのサイトのイベントかチェックしてから登録お願いします。
  </p>
</div>
